{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load social_share %}




<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/print-this/printThis.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wyj73RNMIpiD6bq5D2ZAdfPI4mM1iS6L4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<style>
    .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;


    }

    .bar .left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bar .left input {
        height: 5vh;
    }


    .hidden {
        display: none;
    }

    #search-dropdown {
        position: absolute;
    }

    @media print {
        * {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
            font-size: 100%;

        }

        .bar,
        #nav1,
        header {
            display: none;
        }

        #div2 {
            position: absolute;
            top: -100px;
            text-align: center;
            width: 100%;
        }


    }
    #customizeMenu{
        width: fit-content;
        height: 50vh;
        overflow-y: auto;
    }

    :root {
        --body-bg: rgb(204, 204, 204);
        --white: #ffffff;
        --darkWhite: #ccc;
        --black: #000000;
        --dark: #615c60;
        --themeColor: #dfbc0c;
        --pageShadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }
    @media print {
        body{
            visibility: hidden !important;
            /* background-color: white; */
        }

        .printContainer {
            visibility: visible !important;
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: large;
        }

    }

    .page {
        background: var(--white);
        display: block;
        margin: 0 auto;
        position: relative;
        box-shadow: var(--pageShadow);
    }

    .page[size="A4"] {
        width: 99%;
        height: 29.7cm;
        overflow: hidden;
    }
    #reportTable {
    border-collapse: collapse;
    width: 100%;
    }

    #reportTable th, #reportTable td {
    border: 1px solid #dddddd;
    padding: 5px 2px;
    color: #000;
    }

    /* .whatsapp-this{
      display: flex;
      justify-content: center;
      cursor: pointer;
      padding: 4px 0px;
    }

    .whatsapp-this:hover{
      background-color: rgb(255 255 255 / 0.21);
    } */

    .submitShareEmailBtn {
        background: #192d3e;
        border: 1px solid #3a4b5a;
        border-radius: 4px;
        color: white;
        font-weight: 600;
        padding: 0.5rem 1rem;
    }
    .submitShareEmailBtn:hover {
        background: #3a4b5a;
    }

    .content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 350px;
        min-height: 250px;
        padding: 10px;
        border: 1px solid #ccc;
        height: fit-content;
        z-index: 1;
    }

    .arrow {
        /* font-size: 0.6em; */
        cursor: pointer;
        margin-left: 5px;
    }

    .arrow.up {
        transform: rotate(180deg);
    }
</style>
<body>       

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/274ee977b7.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>



    <div class="body-wrapper">
        <div class="container-fluid ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-light">
                    {% if log_details.user_type == 'Staff' %}
                        <li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}" class="text-warning">Dashboard</a></li>
                    {% endif %}
                    {% if log_details.user_type == 'Company' %}
                        <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning">Dashboard</a></li>
                    {% endif %}
                    <li class="breadcrumb-item" aria-current="page">SALES ORDER DETAILS</li>
                </ol>
            </nav>
          <div> 
                <div class=" mt-lg-4 mt-2 rounded p-4" style="background-color: rgb(0, 0, 0);color: white;">
                    <h1 class="text-light">SALES ORDER DETAILS</h1>
                    <br>
                   
                    <div class="row  ">
                        <div class="col-md-6 d-flex p-2 ">

                          <div class="col-md-6">
                            <div class="position-relative">
                                <button class="btn btn-warning" onclick="toggleContent()"><i class="fas fa-solid fa-gear"></i> Customize Report</button>
                                <div id="contentDiv" class="content">
                                    <h6 style="color: white;">Customize Report</h6>
                                    <form action="" class="form reportCustomizeForm" method="get">
                                        <div class="px-2">
                                            <label style="text-align:left ">From</label><br>
                                            <input name="from_date" class="inputdate form-control" type="date" id="fromDate" onchange="filterDates(this.value)">
                                        </div>
                                        <div class="px-2">
                                            <label style="text-align:left ">To</label><br>
                                            <input name="to_date" type="date" class="inputdate form-control" id="toDate" onchange="filterDates()">
                                            
                                        </div>
                                        <div class="px-2">
                                            <label style="text-align:left;color: white;">Sales Transaction</label><br>
                                            <select name="transactions" id="salesTransactions" class="form-control">
                                                <option value="all">All</option>
                                                <option value="invoice">Invoice</option>
                                                <option value="recurring_invoice">Recurring Invoice</option>
                                                <option value="credit_notes">Credit Notes</option>
                                            </select>
                                        </div>
                                        <div class="d-flex px-2 mt-3 mb-4">
                                            <button type="submit" class="btn btn-outline-light w-50">Run Report</button>
                                            <button type="reset" onclick="toggleContent()" class="btn btn-outline-light ml-1 w-50">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          </div>
                          
                              
                              
                        </div>




                        <script>
                            function formatDate(date) {
                                // Extract day, month, and year components
                                var day = date.getDate().toString().padStart(2, '0');
                                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                                var year = date.getFullYear();
                                // Construct formatted date string
                                return day + '-' + month + '-' + year;
                            }
                        
                            function filterDates() {
                                var fromDate = document.getElementById("fromDate").value;
                                var toDate = document.getElementById("toDate").value;
                        
                                // Parse from and to dates
                                var fromDateObj = new Date(fromDate);
                                var toDateObj = new Date(toDate);
                        
                                // Format dates
                                var formattedFromDate = formatDate(fromDateObj);
                                var formattedToDate = formatDate(toDateObj);
                        
                                // Display the selected date range above the table
                                var dateDisplay = document.getElementById("dateDisplay");
                                dateDisplay.textContent = "From: " + formattedFromDate + " To: " + formattedToDate;
                        
                                // Rest of the filtering logic remains the same as the first JavaScript code...
                                var selectedDate = new Date(fromDate);
                                selectedDate.setDate(selectedDate.getDate() - 1);
                                var table = document.getElementById("reportTable");
                                var rows = table.getElementsByTagName("tr");
                                var emptyMessage = document.getElementById('emptyMessage');
                                var isEmpty = true;
                                for (var i = 1; i < rows.length; i++) {
                                    var currentDate = rows[i].getElementsByTagName("td")[0].innerText;
                                    var date = new Date(currentDate.replace(/(\d{2})-(\d{2})-(\d{2})/, "$2/$1/$3"));
                                    if ((fromDate && date >= selectedDate) || !fromDate) {
                                        if ((toDate && date <= new Date(toDate)) || !toDate) {
                                            rows[i].style.display = "table-row";
                                            isEmpty = false;
                                        } else {
                                            rows[i].style.display = "none";
                                        }
                                    } else {
                                        rows[i].style.display = "none";
                                    }
                                }
                                emptyMessage.style.display = isEmpty ? 'block' : 'none';
                            }
                        </script>

                        
                        
                        <div class="col-md-6 d-flex justify-content-end h-100 p-2">
                           
                            <button type="button" class="btn btn-outline-warning mt-2 ms-1"  onclick="ExportToExcel()">
                                <i class="fa fa-file-excel" style="color: #FFD43B;" aria-hidden="true"></i> 
                            </button>

                            <button type="button" class="btn btn-outline-warning mt-2 ms-1" onclick="printfunction()">
                                <i class="fas fa-print" style="color: #FFD43B;" aria-hidden="true"></i>
                            </button>  

                            <button type="button" class="btn btn-outline-warning mt-2 ms-1" onclick="generatePDF()">
                                <i class="fas fa-file-pdf-o" style="color: #FFD43B;" aria-hidden="true"></i> 
                            </button>

                            

                            <a class="btn btn-outline-warning small_btn mt-2 ms-1"  title="SHARE" id="share_btn" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-share"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="share_btn">
                                <li>{% post_to_whatsapp object_or_url "<span style='color: black;'>WhatsApp</span>" %}</li>
                                <a class="dropdown-item text-black" data-toggle="modal" data-target="#shareToEmail">Email</a>
                            </div>                           


                        </div>
                    </div>


                    <script>
                        // Function to generate PDF from the table
                        function generatePDF() {
                            var element = document.getElementById('reportTable'); // Assuming 'credittable' is the ID of your table element
                            var filename = 'Salesorder_report.pdf';
                            var opt = {
                                margin: 1,
                                filename: filename,
                                image: { type: 'jpeg', quality: 0.98 },
                                html2canvas: { scale: 2 },
                                jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
                            };
                            html2pdf().set(opt).from(element).save();
                        }
                    </script>

                    <script>
                        function ExportToExcel(){
                            const table = document.querySelector('#excelbilltable');
                            const ws = XLSX.utils.table_to_sheet(table);
                            const wb = XLSX.utils.book_new();
                            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
                            XLSX.writeFile(wb, 'Salesorder_report.xlsx');
                        }
                    </script>

                    <script>
                        function printfunction(){
                            var print4 = document.getElementById('printReport');
                            var printContents = "";
                    
                            if (print4.style.display !== 'none') {
                                printContents = print4.innerHTML;
                            } else {
                                printContents = document.getElementById("whatToPrint").innerHTML;
                            }
                    
                            // Extracting fromDate and toDate from the table data
                            var tableRows = document.querySelectorAll("#printReport table tr");
                            var fromDate = tableRows[1].cells[0].textContent; // Assuming the first cell of the second row contains the fromDate
                            var lastRowIndex = tableRows.length - 1;
                            var toDate = tableRows[lastRowIndex].cells[0].textContent; // Assuming the first cell of the last row contains the toDate
                    
                            
                    
                            var $printerDiv = $('<div class="printContainer" id=printContainer></div>');
                            $printerDiv.html(printContents); 
                            $('body').append($printerDiv).addClass("printingContent"); 
                    
                            var h1Element = document.createElement("h1");
                            
                            h1Element.style.textAlign = "center";
                            h1Element.style.marginBottom = "5px";
                            var head = document.getElementById("printContainer");
                            head.insertBefore(h1Element, head.firstChild);
                            window.print();
                            $printerDiv.remove();
                            $('body').removeClass("printingContent");
                        }
                    </script>
                    
                    

                    <div class="table-responsive " style="overflow-x:auto;margin-top: 20px;">
                        <div class="card radius-15 print-only" id="pdf-card" style="background-color: #000;" >
                            <div class="card-body">
                                <div class="container-fluid">
                    
                                    <div  id="printReport"  class="printReportTemplate" style="display: block;">
                                        <div class="my-5 page" size="A4" >
                                            <div id="printdiv2">
                                                <div class="py-4 bg-warning" >
                                                    <!-- <div id="ember2512" class="col-md-4 d-flex justify-content-start tooltip-container ember-view ribbon text-ellipsis"></div> -->
                                                    <div class="col-12">
                                                        
                                                            <center class="h2 text-white"><b>{{details.login_details.first_name}} {{details.login_details.last_name}}</b></center>
                                                        
                                                            <center class="h3 text-white"><b>SALES ORDER DETAILS</b></center>
                                                            <div id="dateDisplay" style="text-align:center;color:black;"></div>
                                                            {% if startDate and endDate %}
                                                            <center class="h6 text-white">{{startDate}} TO {{endDate}}</center>
                                                            {% endif %}
                                                    </div>  
                                                    <!-- <div class="col-md-4 d-flex justify-content-end"></div> -->
                                                </div>
                                                <div class="row px-1 py-1">
                                                    <div class="col-12">
                    
                                                        <section class="product-area mt-2">
                                                            <table class="table table-responsive-md mt-4 table-hover" id="reportTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">STATUS </th>
                                                                        <th class="text-center">DATE</th>
                                                                        <th class="text-center">SHIPMENT DATE</th>
                                                                        <th class="text-center">SALES ORDER NO.</th>
                                                                        <th class="text-center">CUSTOMER NAME</th>
                                                                        <th class="text-center">TOTAL AMOUNT</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for i in sale %}                                                      
                                                                    <tr>
                                                                        <td class="text-center">
                                                                          {% if i.convert_to_invoice %}
                                                                          Converted to Invoice 
                                                                      {% elif i.convert_to_recurringinvoice %}
                                                                          Converted to RecurringInvoice 
                                                                      {% else %}
                                                                      {{i.status}}
                                                                      {% endif %}
                                                                        </td>
                                                                        <td class="text-center">{{i.sales_order_date|date:'d-m-Y'}}</td>
                                                                        <td class="text-center">{{i.expiration_date|date:'d-m-Y'}}</td>
                                                                        <td class="text-center">{{i.sales_order_number}}</td>
                                                                        <td class="text-center">{{i.customer.first_name}} {{i.customer.last_name}}</td>
                                                                        <td class="text-center">{{i.grand_total}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </section>
                                            
                                                        <section class="balance-info text-dark">
                                                            <div class="row p-4">
                                                                <div class="col-10">
                                                                                       
                                                                </div>
                                                                <div class="col-2 text-center">
                                                                    <h5 style="padding-top: 10px; color: #000; font-weight: bold;">Total Sales</h5>
                                                                    <h4 class="text-dark" style="font-weight: 600;" id="totvalue">₹<span id="superTotal">{{ total_sales_amount }}</span></h4>
                                                                </div>
                                                            </div>
                                                        </section>


                                                        <table id="excelbilltable" hidden>
                                                            <thead >
                                                                <tr class="fs-2 tb" >
                                                                    <th> STATUS</th>
                                                                    <th> DATE </th>
                                                                    <th> SHIPMENT DATE </th>
                                                                    <th> SALES ORDER NO. </th>
                                                                    <th>CUSTOMER NAME</th>
                                                                    <th>TOTAL AMOUNT</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for i in sale %}                                                      
                                                                    <tr>
                                                                        <td class="text-center">
                                                                          {% if i.convert_to_invoice %}
                                                                          Converted to Invoice 
                                                                      {% elif i.convert_to_recurringinvoice %}
                                                                          Converted to RecurringInvoice 
                                                                      {% else %}
                                                                      {{i.status}}
                                                                      {% endif %}
                                                                        </td>
                                                                        <td class="text-center">{{i.sales_order_date|date:'d-m-Y'}}</td>
                                                                        <td class="text-center">{{i.expiration_date|date:'d-m-Y'}}</td>
                                                                        <td class="text-center">{{i.sales_order_number}}</td>
                                                                        <td class="text-center">{{i.customer.first_name}} {{i.customer.last_name}}</td>
                                                                        <td class="text-center">{{i.grand_total}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                            </tbody>
                                                        </table>


                                                  </div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>


    <!-- Share To Email Modal -->
<div class="modal fade" id="shareToEmail">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background:black; border: 1px solid #ffae1f;">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 p-4">
              <h2 class="text-uppercase" style="color: white; font-weight: bolder;">Share Via Email</h2>
            </div>
            <div class="col-md-2 p-3">
              <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" style="float: right;">
                <span aria-hidden="true" style="color: white; font-weight: bolder;">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class=" p-3">
                    <form action="" method="post" class="needs-validation" id="share_to_email_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="emailIds"style="color: white; font-size: large;">Email IDs</label>
                            <textarea class="form-control text-white bg-black"name="email_ids" id="emailIds" rows="3" placeholder="Multiple emails can be added by separating with a comma(,)." required></textarea>
                        </div>
                        <div class="form-group mt-2">
                            <label for="item_unitname" style="color: white; font-size: large;">Message(optional)</label>
                            <textarea name="email_message" id="email_message" class="form-control text-white bg-black"cols="" rows="4" placeholder="This message will be sent along with Bill details."></textarea>
                        </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="d-flex">
                        <button class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50 text-white" type="submit">Send</button> 
                        <input class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50 text-white" type="reset" value="Reset">
                      </div>
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </form>

            </div>
        </div>   
    </div>
</div>


<script>
    document.getElementById('exportBtn').addEventListener('click', function() {
        
        var table = document.getElementById('table');
        var ws = XLSX.utils.table_to_sheet(table);

        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Journal');

        var fileName = 'Journal.xlsx';
        XLSX.writeFile(wb, fileName);
    });

    $(document).ready(function() {
        $('.select2').select2({
            templateResult: formatOption
        });
    });

    function formatOption(option) {
        if (!option.id) {
            return option.text;
        }
        var $option = $(
            '<span><i class="' + $(option.element).data('icon') + '"></i> ' + option.text + '</span>'
        );
        return $option;
    }

    $(document).ready(function() {
        var $rows = $('#table tbody tr');
        $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
        });
    });

    $(document).ready(function () {
        $('#sort-select').change(function () {
            var sortBy = $(this).val();
            window.location.href = '?sortBy=' + sortBy;
        });
        $('#status-select').change(function () {
            var filterByStatus = $(this).val();
            window.location.href = '?filterByStatus=' + filterByStatus;
        });
    });
</script>
  <script>
      $(document).ready(function(){
        var trans = `{{transaction}}`;
        // alert(trans)
        if(trans != "" && trans != 'all'){
            $('#salesTransactions').val(trans)
        }
    })
    function toggleContent() {
        var contentDiv = document.getElementById("contentDiv");
        if (contentDiv.style.display === "block") {
            contentDiv.style.display = "none";
        } else {
            contentDiv.style.display = "block";
            // Position the div just below the button
            // var buttonRect = event.target.getBoundingClientRect();
            // contentDiv.style.top = (buttonRect.bottom + window.scrollY) + "px";
            // contentDiv.style.left = buttonRect.left + "px";
        }
    }

  </script>  
</body>
</html>
{% endblock %}





            def shareSalesReportsToEmail(request):
            if 'login_id' in request.session:
               if request.session.has_key('login_id'):
                   log_id = request.session['login_id']
                  
               else:
                   return redirect('/')
           
               log_details= LoginDetails.objects.get(id=log_id)
               if log_details.user_type=='Staff':
                   dash_details = StaffDetails.objects.get(login_details=log_details)
                   comp_details=CompanyDetails.objects.get(id=dash_details.company.id)
       
               else:    
                   dash_details = CompanyDetails.objects.get(login_details=log_details)
                   comp_details=CompanyDetails.objects.get(login_details=log_details)
       
                   
               allmodules= ZohoModules.objects.get(company=comp_details,status='New')
           
           
               sale=SaleOrder.objects.filter(company=comp_details)
       
               context = {'sale':sale,'details':dash_details}
               if request.method == 'POST':
                   try:
                       emails_string = request.POST['email_ids']
       
                               # Split the string by commas and remove any leading or trailing whitespace
                       emails_list = [email.strip() for email in emails_string.split(',')]
                       email_message = request.POST['email_message']
                                                                                                 
                       template_path = 'zohomodules/sales_order/salesordermailoverview.html'
                       template = get_template(template_path)
       
                       html  = template.render(context)
                       result = BytesIO()
                       pdf = pisa.pisaDocument(BytesIO(html.encode("ISO-8859-1")), result)#, link_callback=fetch_resources)
                       pdf = result.getvalue()
                       subject = f"Transaction Details"
                       email = f"Hi,\nPlease find the attached transaction details {sale.customer.first_name} {sale.customer.last_name}.\n"
                       email_from = settings.EMAIL_HOST_USER
       
               
                       msg = EmailMultiAlternatives(subject, email, email_from, emails_list)
                       msg.attach(f'{sale.customer.first_name}_{sale.customer.last_name}_Transactions.pdf', pdf, "application/pdf")
                       
                       # Send the email
                       msg.send()
       
                       messages.success(request, 'Transaction has been shared via email successfully..!')
                       return redirect(Salesorder_report)
       
                   except Exception as e:
                       print(f"Error sending email: {e}")
                       messages.error(request, 'An error occurred while sending the email. Please try again later.')
                       return redirect(Salesorder_report)






                       def shareSalesReportsToEmail(request):
                       if request.user:
                           try:
                               if request.method == 'POST':
                                   emails_string = request.POST['email_ids']
                                   emails_list = [email.strip() for email in emails_string.split(',')]
                                   email_message = request.POST['email_message'
                   
                                   cmp = CompanyDetails.objects.get( user = request.user.id)
                                   sales = SaleOrder.objects.filter(cid=cmp)
                   
                   
                                   excelfile = BytesIO()
                                   workbook = Workbook()
                                   worksheet = workbook.active
                                   worksheet.title = 'Salesorder Reports'
                   
                                   headers = ['STATUS', 'DATE', 'SHIPMENT DATE', 'SALES ORDER NO.', 'CUSTOMER NAME','TOTAL AMOUNT']
                                   for col_num, header in enumerate(headers, 1):
                                       worksheet.cell(row=1, column=col_num, value=header)
                   
                                   
                                   for idx, sale in enumerate(sales, start=2):
                                       worksheet.cell(row=idx, column=1, value=sale.status)  
                                       worksheet.cell(row=idx, column=2, value=sale.sales_order_date) 
                                       worksheet.cell(row=idx, column=3, value=sale.expiration_date)  
                                       worksheet.cell(row=idx, column=4, value=sale.sales_order_number)  
                                       worksheet.cell(row=idx, column=5, value=sale.first_name)  
                                       worksheet.cell(row=idx, column=5, value=sale.grand_total)               
                   
                                   workbook.save(excelfile)
                                   mail_subject = f'Salesorder - {date.today()}'
                                   message = f"Hi,\nPlease find the ALES REPORTS file attached. \n{email_message}\n\n--\nRegards,\n{cmp.company_name}\n{cmp.address}\n{cmp.state} - {cmp.country}\n{cmp.phone_number}"
                                   message = EmailMessage(mail_subject, message, settings.EMAIL_HOST_USER, emails_list)
                                   message.attach(f'Salesorder Reports-{date.today()}.xlsx', excelfile.getvalue(), 'application/vnd.ms-excel')
                                   message.send(fail_silently=False)
                   
                                   messages.success(request, 'Salesorder Report has been shared via email successfully..!')
                                   return redirect(Salesorder_report)
                           except Exception as e:
                               print(e)
                               messages.error(request, 'An error occurred while sharing the purchase report via email.')
                   
                               return redirect(Salesorder_report)    
                   